﻿@model TODOWebApp.Models.TasksViewModel

@using (Html.BeginForm("Add", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "todo-form", role = "form" }))
{
    @Html.EditorFor(model => model.Task.Name, new { htmlAttributes = new { @id = "add-task-name", placeholder = Html.DisplayNameFor(model => model.Task.Name) }})

    <div class="datetime-left">
        @Html.EditorFor(model => model.TimeFrom, new { htmlAttributes = new { @class = "timepicker task-time", placeholder = "Time from", @type = "text", @Value = ""} })
        @Html.EditorFor(model => model.DateFrom, new { htmlAttributes = new { @class = "datepicker task-date", placeholder = "Date from", @type = "text", @Value = "" } })
    </div>
    <div class="datetime-right">
        @Html.EditorFor(model => model.DateTo, new { htmlAttributes = new { @class = "datepicker task-date", placeholder = "Date to", @type = "text", @Value = "" } })
        @Html.EditorFor(model => model.TimeTo, new { htmlAttributes = new { @class = "timepicker task-time", placeholder = "Time to", @type = "text", @Value = "" } })
    </div>
    @Html.TextAreaFor(model => model.Task.Description, new { @rows = 6, placeholder = Html.DisplayNameFor(model => model.Task.Description) })

    @Html.ValidationSummary(false)

    if (ViewBag.timeError != null)
    {
        <ul>
            <li>@ViewBag.timeError</li>
        </ul>
    }
    if (ViewBag.dateError != null)
    {
        <ul>
            <li>@ViewBag.dateError</li>
        </ul>
    }
    <input type="submit" value="Add">
}


        @*<form name="add" action="#" id="add-task-form" class="todo-form">
            <input type="text" name="add-task-name" id="add-task-name" placeholder="Name">

            <div class="datetime-left">
                <input type="text" class="timepicker task-time" id="add-task-time-from" placeholder="Time from">
                <input type="text" class="datepicker task-date" id="add-task-date-from" placeholder="Date from">
            </div>
            <div class="datetime-right">
                <input type="text" class="datepicker task-date" id="add-task-date-to" placeholder="Date to">
                <input type="text" class="timepicker task-time" id="add-task-time-to" placeholder="Time to">
            </div>

            <textarea rows="6" cols="20" class="add-task-desc" id="add-task-desc" placeholder="Description"></textarea>
            <input type="submit" value="Add">

        </form>*@
