﻿@model TODOWebApp.Models.TasksViewModel
@{
    ViewBag.Title = "Home Page";
    var headerText = ViewBag.HeaderText;
}

@section AddStyle {
    @Styles.Render("~/Content/home-style.css")
    @Styles.Render("~/Content/datetimepicker.css")
}


<ul class="collapsible" id="collapsible-editor" data-collapsible="accordion">
    <li>
        <div class="collapsible-header add-task-header">
            <i class="material-icons">
                note_add
            </i>
            ~@Model.OperationData.HeaderName task~
        </div>
        <div class="collapsible-body add-task-body">
            @Html.Partial(Model.OperationData.PartialName)
        </div>
    </li>
</ul>
<ul class="collapsible" data-collapsible="accordion">
    @foreach (var task in Model.Tasks) {
        <li>
            <div class="collapsible-header">
                <i class="material-icons">
                    @if (task.StateId == 1) {
                        @:event_note
                    }
                    else if(task.StateId == 2)
                    {
                        @:done
                    }
                    else
                    {
                        @:cancel
                    }
                </i>
                @task.Name
                <div class="collapsible-task-date">
                    @task.ToDateTime.ToString("dd.MM.yyyy HH:mm", new System.Globalization.CultureInfo("pl-PL"))
                </div>
            </div>
            <div class="collapsible-body">
                <div class="task-content">
                    @task.Description
                </div>
                <div class="task-management-container">
                    <div class="task-management-buttons">
                        <a href="@Url.Action("MarkTaskSupplyingStateId", "Home", new { taskId = task.TaskId, stateId = 2 })" class="manage-task-button done-task">
                            <i class="material-icons">done</i>
                        </a>
                        <a href="@Url.Action("MarkTaskSupplyingStateId", "Home", new { taskId = task.TaskId, stateId = 1 })" class="manage-task-button schedule-task">
                            <i class="material-icons">schedule</i>
                        </a>
                        <a href="@Url.Action("MarkTaskSupplyingStateId", "Home", new { taskId = task.TaskId, stateId = 3 })" class="manage-task-button cancel-task">
                            <i class="material-icons">cancel</i>
                        </a>
                        <a href="@Url.Action("Edit", "Home", new { taskId = task.TaskId })" class="manage-task-button edit-task">
                            <i class="material-icons">edit</i>
                        </a>
                        <a href="@Url.Action("Delete", "Home", new { taskId = task.TaskId })" class="manage-task-button delete-task">
                            <i class="material-icons">delete</i>
                        </a>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>