﻿@model TODOWebApp.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

@section AddStyle {
    @Styles.Render("~/Content/home-style.css")
}


<div class="login-container">
    <div class="centered-login-box">
        @using (Html.BeginForm("Index", "Manage", FormMethod.Post, new { @class = "todo-form", role = "form" }))
        {
            <h4 class="register">Change password.</h4>

            @Html.AntiForgeryToken()
            <p>
                @Html.PasswordFor(m => m.OldPassword, new { @placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.OldPassword, null, new { @class = "val-msg" })
            </p>
            <p>
                @Html.PasswordFor(m => m.NewPassword, new { @placeholder = "New password" })
                @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "val-msg" })
            </p>
            <p>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirm new password" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "val-msg" })
            </p>
            <p>
                <input type="submit" value="Change password">
            </p>
            @*<p>
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </p>*@
        }
    </div>
</div>
