﻿@model TODOWebApp.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

@section AddStyle {
    @Styles.Render("~/Content/home-style.css")
}

<p class="text-success">@ViewBag.StatusMessage</p>

    <h4>Change your account settings</h4>
    <hr />
    <div>
        <span>Password:</span>
        <span>
            [
            @if (Model.HasPassword)
                {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </span>
    </div>
    <div>
        <span>
            External Logins:
        </span>
        <span>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </span>
    </div>
    
