﻿/* ==========================================================================
   $BASE-PICKER
   ========================================================================== */
/**
 * Note: the root picker element should *NOT* be styled more than what's here.
 */
.picker {
    font-size: 16px;
    text-align: left;
    line-height: 1.2;
    color: #000000;
    position: absolute;
    z-index: 10000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

/**
 * The picker input element.
 */
.picker__input {
    cursor: default;
}

    /**
 * When the picker is opened, the input element is "activated".
 */
    .picker__input.picker__input--active {
        border-color: #0089ec;
    }

/**
 * The holder is the only "scrollable" top-level container element.
 */
.picker__holder {
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

/*!
 * Default mobile-first, responsive styling for pickadate.js
 * Demo: http://amsul.github.io/pickadate.js
 */
/**
 * Note: the root picker element should *NOT* be styled more than what's here.
 */
/**
 * Make the holder and frame fullscreen.
 */
.picker__holder,
.picker__frame {
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
}

/**
 * The holder should overlay the entire screen.
 */
.picker__holder {
    position: fixed;
    -webkit-transition: background 0.15s ease-out, top 0s 0.15s;
    transition: background 0.15s ease-out, top 0s 0.15s;
    -webkit-backface-visibility: hidden;
}

/**
 * The frame that bounds the box contents of the picker.
 */
.picker__frame {
    position: absolute;
    margin: 0 auto;
    min-width: 256px;
    width: 300px;
    max-height: 350px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

@media (min-height: 28.875em) {
    .picker__frame {
        overflow: visible;
        top: auto;
        bottom: -100%;
        max-height: 80%;
    }
}

@media (min-height: 40.125em) {
    .picker__frame {
        margin-bottom: 7.5%;
    }
}

/**
 * The wrapper sets the stage to vertically align the box contents.
 */
.picker__wrap {
    display: table;
    width: 100%;
    height: 100%;
}

@media (min-height: 28.875em) {
    .picker__wrap {
        display: block;
    }
}

/**
 * The box contains all the picker contents.
 */
.picker__box {
    background: #ffffff;
    display: table-cell;
    vertical-align: middle;
}

@media (min-height: 28.875em) {
    .picker__box {
        display: block;
        border: 1px solid #777777;
        border-top-color: #898989;
        border-bottom-width: 0;
        border-radius: 5px 5px 0 0;
        -webkit-box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24);
        box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24);
    }
}

/**
 * When the picker opens...
 */
.picker--opened .picker__holder {
    top: 0;
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#1E000000,endColorstr=#1E000000)";
    zoom: 1;
    background: rgba(0, 0, 0, 0.32);
    -webkit-transition: background 0.15s ease-out;
    transition: background 0.15s ease-out;
}

.picker--opened .picker__frame {
    top: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}

@media (min-height: 35.875em) {
    .picker--opened .picker__frame {
        top: 20%;
        bottom: auto;
    }
}

/**
 * For `large` screens, transform into an inline picker.
 */
/* ==========================================================================
   CUSTOM MATERIALIZE STYLES
   ========================================================================== */
.picker__input.picker__input--active {
    border-color: #E3F2FD;
}

.picker__frame {
    margin: 0 auto;
    max-width: 325px;
}

@media (min-height: 38.875em) {
    .picker--opened .picker__frame {
        top: 20%;
        bottom: auto;
    }
}

@media only screen and (min-width: 601px) {
    .picker__box {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .picker__frame {
        width: 80%;
        max-width: 600px;
    }
}

/* ==========================================================================
   $BASE-DATE-PICKER
   ========================================================================== */
/**
 * The picker box.
 */
.picker__box {
    padding: 0;
    border-radius: 2px;
    overflow: hidden;
}

/**
 * The header containing the month and year stuff.
 */
.picker__header {
    text-align: center;
    position: relative;
    margin-top: .75em;
}

/**
 * The month and year labels.
 */
.picker__month,
.picker__year {
    display: inline-block;
    margin-left: .25em;
    margin-right: .25em;
}

/**
 * The month and year selectors.
 */
.picker__select--month,
.picker__select--year {
    height: 2em;
    padding: 0;
    margin-left: .25em;
    margin-right: .25em;
}

    .picker__select--month.browser-default {
        display: inline;
        background-color: #FFFFFF;
        width: 40%;
    }

    .picker__select--year.browser-default {
        display: inline;
        background-color: #FFFFFF;
        width: 26%;
    }

    .picker__select--month:focus,
    .picker__select--year:focus {
        border-color: rgba(0, 0, 0, 0.05);
    }

/**
 * The month navigation buttons.
 */
.picker__nav--prev,
.picker__nav--next {
    position: absolute;
    padding: .5em 1.25em;
    width: 1em;
    height: 1em;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    top: -0.25em;
}

.picker__nav--prev {
    left: -1em;
    padding-right: 1.25em;
}

.picker__nav--next {
    right: -1em;
    padding-left: 1.25em;
}

.picker__nav--disabled,
.picker__nav--disabled:hover,
.picker__nav--disabled:before,
.picker__nav--disabled:before:hover {
    cursor: default;
    background: none;
    border-right-color: #f5f5f5;
    border-left-color: #f5f5f5;
}

/**
 * The calendar table of dates
 */
.picker__table {
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    font-size: 1rem;
    width: 100%;
    margin-top: .75em;
    margin-bottom: .5em;
}

    .picker__table th, .picker__table td {
        text-align: center;
    }

    .picker__table td {
        margin: 0;
        padding: 0;
    }

/**
 * The weekday labels
 */
.picker__weekday {
    width: 14.285714286%;
    font-size: .75em;
    padding-bottom: .25em;
    color: #999999;
    font-weight: 500;
    /* Increase the spacing a tad */
}

@media (min-height: 33.875em) {
    .picker__weekday {
        padding-bottom: .5em;
    }
}

/**
 * The days on the calendar
 */
.picker__day--today {
    position: relative;
    color: #595959;
    letter-spacing: -.3;
    padding: .75rem 0;
    font-weight: 400;
    border: 1px solid transparent;
}

.picker__day--disabled:before {
    border-top-color: #aaaaaa;
}

.picker__day--infocus:hover {
    cursor: pointer;
    color: #000;
    font-weight: 500;
}

.picker__day--outfocus {
    display: none;
    padding: .75rem 0;
    color: #fff;
}

    .picker__day--outfocus:hover {
        cursor: pointer;
        color: #dddddd;
        font-weight: 500;
    }

.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted {
    cursor: pointer;
}

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
    border-radius: 50%;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    background: #0089ec;
    color: #ffffff;
}

.picker__day--disabled,
.picker__day--disabled:hover,
.picker--focused .picker__day--disabled {
    background: #f5f5f5;
    border-color: #f5f5f5;
    color: #dddddd;
    cursor: default;
}

.picker__day--highlighted.picker__day--disabled,
.picker__day--highlighted.picker__day--disabled:hover {
    background: #bbbbbb;
}

/**
 * The footer containing the "today", "clear", and "close" buttons.
 */
.picker__footer {
    text-align: right;
}

.picker__button--today,
.picker__button--clear,
.picker__button--close {
    border: 1px solid #ffffff;
    background: #ffffff;
    font-size: .8em;
    padding: .66em 0;
    font-weight: bold;
    width: 33%;
    display: inline-block;
    vertical-align: bottom;
}

    .picker__button--today:hover,
    .picker__button--clear:hover,
    .picker__button--close:hover {
        cursor: pointer;
        color: #000000;
        background: #b1dcfb;
        border-bottom-color: #b1dcfb;
    }

    .picker__button--today:focus,
    .picker__button--clear:focus,
    .picker__button--close:focus {
        background: #b1dcfb;
        border-color: rgba(0, 0, 0, 0.05);
        outline: none;
    }

    .picker__button--today:before,
    .picker__button--clear:before,
    .picker__button--close:before {
        position: relative;
        display: inline-block;
        height: 0;
    }

    .picker__button--today:before,
    .picker__button--clear:before {
        content: " ";
        margin-right: .45em;
    }

    .picker__button--today:before {
        top: -0.05em;
        width: 0;
        border-top: 0.66em solid #0059bc;
        border-left: .66em solid transparent;
    }

    .picker__button--clear:before {
        top: -0.25em;
        width: .66em;
        border-top: 3px solid #ee2200;
    }

    .picker__button--close:before {
        content: "\D7";
        top: -0.1em;
        vertical-align: top;
        font-size: 1.1em;
        margin-right: .35em;
        color: #777777;
    }

    .picker__button--today[disabled],
    .picker__button--today[disabled]:hover {
        background: #f5f5f5;
        border-color: #f5f5f5;
        color: #dddddd;
        cursor: default;
    }

        .picker__button--today[disabled]:before {
            border-top-color: #aaaaaa;
        }

/* ==========================================================================
   CUSTOM MATERIALIZE STYLES
   ========================================================================== */
/*.picker__box {
  border-radius: 2px;
  overflow: hidden;
}*/
.picker__date-display {
    text-align: left;
    background-color: #26a69a;
    color: #fff;
    padding: 18px;
    font-weight: 300;
}

@media only screen and (min-width: 601px) {
    .picker__date-display {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .picker__weekday-display {
        display: block;
    }

    .picker__container__wrapper {
        -webkit-box-flex: 2;
        -webkit-flex: 2;
        -ms-flex: 2;
        flex: 2;
    }
}

.picker__nav--prev:hover,
.picker__nav--next:hover {
    cursor: pointer;
    color: #000000;
    background: #a1ded8;
}

.picker__weekday-display {
    font-weight: 500;
    font-size: 2.8rem;
    margin-right: 5px;
    margin-top: 4px;
}

.picker__month-display {
    font-size: 2.8rem;
    font-weight: 500;
}

.picker__day-display {
    font-size: 2.8rem;
    font-weight: 500;
    margin-right: 5px;
}

.picker__year-display {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
}

/*.picker__box {
  padding: 0;
}*/
.picker__calendar-container {
    padding: 0 1rem;
}

    .picker__calendar-container thead {
        border: none;
    }

.picker__table {
    margin-bottom: .5em;
}

.picker__day--infocus {
    color: rgba(0, 0, 0, 0.87);
    letter-spacing: -.3px;
    padding: 0.75rem 0;
    font-weight: 400;
    border: 1px solid transparent;
}

@media only screen and (min-width: 601px) {
    .picker__day--infocus {
        padding: 1.1rem 0;
    }
}

.picker__day.picker__day--today {
    color: #26a69a;
}

    .picker__day.picker__day--today.picker__day--selected {
        color: #fff;
    }

.picker__weekday {
    font-size: .9rem;
}

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
    border-radius: 50%;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    background-color: #26a69a;
    color: #ffffff;
}

    .picker__day--selected.picker__day--outfocus,
    .picker__day--selected:hover.picker__day--outfocus,
    .picker--focused .picker__day--selected.picker__day--outfocus {
        background-color: #a1ded8;
    }

.picker__footer {
    text-align: right;
    padding: 5px 10px;
}

.picker__close, .picker__today, .picker__clear {
    font-size: 1.1rem;
    padding: 0 1rem;
    color: #26a69a;
}

.picker__clear {
    color: #f44336;
    float: left;
}

.picker__nav--prev:before,
.picker__nav--next:before {
    content: " ";
    border-top: .5em solid transparent;
    border-bottom: .5em solid transparent;
    border-right: 0.75em solid #676767;
    width: 0;
    height: 0;
    display: block;
    margin: 0 auto;
}

.picker__nav--next:before {
    border-right: 0;
    border-left: 0.75em solid #676767;
}

button.picker__today:focus, button.picker__clear:focus, button.picker__close:focus {
    background-color: #a1ded8;
}

/* ==========================================================================
   $BASE-TIME-PICKER
   ========================================================================== */
/**
 * The list of times.
 */
.picker__list {
    list-style: none;
    padding: 0.75em 0 4.2em;
    margin: 0;
}

/**
 * The times on the clock.
 */
.picker__list-item {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-bottom: -1px;
    position: relative;
    background: #fff;
    padding: .75em 1.25em;
}

@media (min-height: 46.75em) {
    .picker__list-item {
        padding: .5em 1em;
    }
}

/* Hovered time */
.picker__list-item:hover {
    cursor: pointer;
    color: #000;
    background: #b1dcfb;
    border-color: #0089ec;
    z-index: 10;
}

/* Highlighted and hovered/focused time */
.picker__list-item--highlighted {
    border-color: #0089ec;
    z-index: 10;
}

    .picker__list-item--highlighted:hover,
    .picker--focused .picker__list-item--highlighted {
        cursor: pointer;
        color: #000;
        background: #b1dcfb;
    }

/* Selected and hovered/focused time */
.picker__list-item--selected,
.picker__list-item--selected:hover,
.picker--focused .picker__list-item--selected {
    background: #0089ec;
    color: #fff;
    z-index: 10;
}

/* Disabled time */
.picker__list-item--disabled,
.picker__list-item--disabled:hover,
.picker--focused .picker__list-item--disabled {
    background: #f5f5f5;
    border-color: #f5f5f5;
    color: #ddd;
    cursor: default;
    border-color: #ddd;
    z-index: auto;
}

/**
 * The clear button
 */
.picker--time .picker__button--clear {
    display: block;
    width: 80%;
    margin: 1em auto 0;
    padding: 1em 1.25em;
    background: none;
    border: 0;
    font-weight: 500;
    font-size: .67em;
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.87);
}

    .picker--time .picker__button--clear:hover,
    .picker--time .picker__button--clear:focus {
        color: #000;
        background: #b1dcfb;
        background: #ee2200;
        border-color: #ee2200;
        cursor: pointer;
        color: #fff;
        outline: none;
    }

    .picker--time .picker__button--clear:before {
        top: -0.25em;
        color: rgba(0, 0, 0, 0.87);
        font-size: 1.25em;
        font-weight: bold;
    }

    .picker--time .picker__button--clear:hover:before,
    .picker--time .picker__button--clear:focus:before {
        color: #fff;
    }

/* ==========================================================================
   $DEFAULT-TIME-PICKER
   ========================================================================== */
/**
 * The frame the bounds the time picker.
 */
.picker--time .picker__frame {
    min-width: 256px;
    max-width: 320px;
}

/**
 * The picker box.
 */
.picker--time .picker__box {
    font-size: 1em;
    background: #f2f2f2;
    padding: 0;
}

@media (min-height: 40.125em) {
    .picker--time .picker__box {
        margin-bottom: 5em;
    }
}

/* ==========================================================================
   $DEFAULT-TIME-PICKER
   ========================================================================== */
.clockpicker-display {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    clear: both;
    position: relative;
}

.clockpicker-span-am-pm {
    font-size: 1.3rem;
    position: absolute;
    right: 1rem;
    bottom: 0.3rem;
    line-height: 2rem;
    font-weight: 500;
}

@media only screen and (min-width: 601px) {
    .clockpicker-display {
        top: 32%;
    }

    .clockpicker-span-am-pm {
        position: relative;
        right: auto;
        bottom: auto;
        text-align: center;
        margin-top: 1.2rem;
    }
}

.text-primary {
    color: white;
}

.clockpicker-span-hours {
    margin-right: 3px;
}

.clockpicker-span-minutes {
    margin-left: 3px;
}

.clockpicker-span-hours,
.clockpicker-span-minutes,
.clockpicker-span-am-pm div {
    cursor: pointer;
}

.clockpicker-moving {
    cursor: move;
}

.clockpicker-plate {
    background-color: #eee;
    border-radius: 50%;
    width: 270px;
    height: 270px;
    overflow: visible;
    position: relative;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clockpicker-canvas,
.clockpicker-dial {
    width: 270px;
    height: 270px;
    position: absolute;
    left: -1px;
    top: -1px;
}

.clockpicker-minutes {
    visibility: hidden;
}

.clockpicker-tick {
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.87);
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
}

    .clockpicker-tick.active,
    .clockpicker-tick:hover {
        background-color: rgba(38, 166, 154, 0.25);
    }

.clockpicker-dial {
    -webkit-transition: -webkit-transform 350ms, opacity 350ms;
    -webkit-transition: opacity 350ms, -webkit-transform 350ms;
    transition: opacity 350ms, -webkit-transform 350ms;
    transition: transform 350ms, opacity 350ms;
    transition: transform 350ms, opacity 350ms, -webkit-transform 350ms;
}

.clockpicker-dial-out {
    opacity: 0;
}

.clockpicker-hours.clockpicker-dial-out {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.clockpicker-minutes.clockpicker-dial-out {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
}

.clockpicker-canvas {
    -webkit-transition: opacity 175ms;
    transition: opacity 175ms;
}

.clockpicker-canvas-out {
    opacity: 0.25;
}

.clockpicker-canvas-bearing {
    stroke: none;
    fill: #26a69a;
}

.clockpicker-canvas-bg {
    stroke: none;
    fill: #26a69a;
}

.clockpicker-canvas-bg-trans {
    fill: #26a69a;
}

.clockpicker-canvas line {
    stroke: #26a69a;
    stroke-width: 4;
    stroke-linecap: round;
    /*shape-rendering: crispEdges;*/
}


.btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
    border: 0;
    font-style: normal;
    font-size: inherit;
    text-transform: inherit;
    background: none;
}