* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.87);
}

body {
    background-color: lightgreen;
    background-image: url("/Content/Images/typewriter-801921_1920.jpg");
    background-size: cover;
}

.center-content {
    height: 100%;
    width: 55%;
    margin: 0 auto;
    padding-bottom: 1.2em;
    box-sizing: border-box;
}

.header-container {
    height: 18%;
    padding: 1.2em 0 1.2em 0;
    box-sizing: border-box;
}

.stylized {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 
                0 6px 30px 5px rgba(0, 0, 0, 0.12), 
                0 8px 10px -5px rgba(0, 0, 0, 0.3);
    border-radius: 0.2em;
}

.site-header {
    background-color: white;
    height: 100%;
    padding: .5em;
    box-sizing: border-box;
    font-family: Pacifico;
    font-size: 3vh;
    color: rgb(115, 156, 140);
    position: relative;
}

.site-header h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.site-header h1 a {
    text-decoration: none;
    color: inherit;
}

nav {
    height: 100%;
    width: 60%;
    float: right;
    position: relative;
}

.navigation-list {
    list-style-type: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.navigation-list li {
    display: inline-block;
    margin-left: 1em;
}

.navigation-list li a {
    color: rgb(115, 156, 140);
}

.navigation-list li a:hover {
    color: rgb(0, 102, 204);
    transition: .3s ease-out;
}

main {
    background-color: white;
    height: 82%;
    padding: 1em;
    box-sizing: border-box;
}

.main-box {
    overflow: auto;
    overflow-x: hidden;
    height: 100%;
    box-sizing: border-box;
    /*edge, mozilla scroll off*/
    -ms-overflow-style: none; 
    overflow: -moz-scrollbars-none;
}

.main-box::-webkit-scrollbar {
    display: none;
}

.collapsible {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12), 
                0 3px 1px -2px rgba(0, 0, 0, 0.2);
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin: 0.5rem 0 1rem 0;
}

.collapsible li {
    display: block;
}

.add-task-header {
    text-align: center;
    font-family: Pacifico;
}

.collapsible-header {
    display: block;
    cursor: pointer;
    min-height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
  
.collapsible-header i {
    width: 2rem;
    font-size: 1.6rem;
    line-height: 3rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
}

.collapsible-body {
    display: none;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    padding: 2rem;
}

.main-box .todo-form input {
    height: 3em;
    background-color: lightgray;
}

.main-box .todo-form input[type="submit"] {
    background-color: rgb(115, 156, 140);
}

.todo-form-button {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font: 400 13.3333px Arial;
    color: inherit;
    background-color: lightgray;
    height: 3em;
    width: 100%;
    cursor: pointer;
    margin-bottom: 0.5em;
    transition: all .3s;
}

.todo-form-button:hover {
    background-color: rgb(243, 72, 72);
}

#add-task-name {
    text-align: center;
}

.datetime-left {
    float: left;
    width: 45%;
}

.datetime-right {
    width: 45%;
    float: right;
}

.datetime-left .task-time, 
.datetime-right .task-time {
    width: 28%;
    cursor: pointer;
    text-align: center;
}

.datetime-left .task-date, 
.datetime-right .task-date {
    width: 68%;
    cursor: pointer;
    text-align: center;
}

.datetime-left .task-date {
    float: right;
}

.datetime-left .task-time {
    float: left;
}

.datetime-right .task-date {
    float: left;
}

.datetime-right .task-time {
    float: right;
}

.main-box .todo-form textarea {
    height: unset;
    border-radius: 2em;
    background-color: lightgray;
}

.collapsible-task-date { 
    font-family: Pacifico;
    float: right;
}

.task-content {
    margin-bottom: 1em;
}

.task-management-container {
    position: relative;
    height: 2em;
}

.task-management-buttons {
    position: absolute;
    right: 0;
    bottom: 0;
}

.manage-task-button {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 2em;
    height: 2em;
    line-height: 2em;
    padding: 0;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    outline: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.manage-task-button:hover {
    background-color: #26a69a;
}

.manage-task-button i {
    font-size: 1.2em;
    line-height: inherit; 
}

.done-task {
    background-color: #4CAF50;
}

.schedule-task {
    background-color: #2196F3;
}

.cancel-task {
    background-color: #ff9800;
}

.edit-task {
    background-color: #ffeb3b;
}

.delete-task {
    background-color: #F44336;
}

/* Let's get this party started */
/* ::-webkit-scrollbar {
    width: 12px;
} */
 
/* Track */
/* ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
} */
 
/* Handle */
/* ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(81, 255, 0, 0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
} */
/* ::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0, 255, 64, 0.4); 
}  */
