* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100vh;
}

body {
    background-image: url("/Content/Images/typewriter-801921_1920.jpg");
    background-size: cover;
}

main {
    width: 50%;
    margin: 0 auto;
    height: 100%;
}

.login-container {
    height: 100%;
    position: relative;
}

.centered-login-box {
    position: absolute;
    top: 60%; /*60*/
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    min-width: 20em;
}

.todo-form {
    background: rgba(59, 56, 56, 0.788);
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    border-radius: 1em;
}

.clear {
    clear: both;
}

.unhref {
    text-decoration: none;
    color: black;
    transition: .3s ease-out;
}

.unhref:hover {
    text-decoration: underline;
    color: lightgreen;
    transition: .3s ease-out;
}

.login-val-summary ul {
    color: orangered;
    list-style-type: none;
}

.register {
    text-align: center;
    font-family: Pacifico;
    color: rgb(115, 156, 140);
}

.val-msg {
    font-family: Pacifico;
    color: rgb(115, 156, 140);
}

.form-external-login {
    margin-top: 1em;
}

.external-signin-button {
    height: 100%;
    cursor: pointer;
    font-size: 1em;
    transition: all .3s;
    position: relative;
}

.external-signin-button-text {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-70%, -50%);
    width: 80%;
}

.external-signin-button i {
    font-size: 1.5em;
    margin-left: 1em;
    float: left;
}

.external-signin-button:hover, .external-signin-button:focus, .external-signin-button:active {
    outline: 0;
    opacity: 0.9;
    color: #fff;
}

.signin-google {
    background-color: #dd4b39;
    color: white;
}

.authentication-info {
    font-family: "Roboto", sans-serif;
    color: rgba(255,255,255,0.8);
}

.authentication-info-text {
    font-size: 0.9em;
    margin: 0.5em 0 0.5em 0;
}