.todo-form input, .todo-form textarea, .external-signin-button, .todo-form-button {
    width: 100%;
    border: 0;
    margin: 0.5em 0 0.5em 0;
    border-radius: 3em;
    height: 4em;
    font-size: 14px;
    padding: 1em;
    box-sizing: border-box;
}

.todo-form input[type="submit"] {
    background-color: lightgreen;
    cursor: pointer;
    margin: 1.5em 0 0.5em 0;
    transition: all .3s;
}

.todo-form input[type="submit"]:hover {
    background-color: rgb(243, 72, 72);
}