﻿
@model TODOWebApp.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}

@section AddStyle {
    @Styles.Render("~/Content/login.css")
}

<main>
    <div class="login-container">
        <div class="centered-login-box">

            @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "todo-form", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <h4 class="authentication-info">Associate your @ViewBag.LoginProvider account.</h4>
                <hr />
                @Html.ValidationSummary(false, "", new { @class = "login-val-summary" });

                <p class="authentication-info authentication-info-text">
                    You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
                    Please enter a user name for this site below and click the Register button to finish
                    logging in.
                </p>

                @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email" })
                @Html.ValidationMessageFor(m => m.Email, null, new { @class = "val-msg" })
                <input type="submit" value="Register" />
            }
        </div>
    </div>
</main>


