﻿@using TODOWebApp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@section AddStyle {
    @Styles.Render("~/Content/login.css")
}

<main>
    <div class="login-container">
        <div class="centered-login-box">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "todo-form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                var valResStr = Html.ValidationSummary(false, "", new { @class = "login-val-summary" });
                if(valResStr.ToString().Contains("Invalid login attempt"))
                {
                    @valResStr;
                }
                <p>
                    @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, null, new { @class = "val-msg" })
                </p>
                <p>
                    @Html.PasswordFor(m => m.Password, new { @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, null, new { @class = "val-msg" })
                </p>
                <p>
                    <input type="submit" value="Log in">
                </p>
                <p>
                    Not registered? @Html.ActionLink("Create an account", "Register", null, new { @class = "unhref" })
                </p>
            }
            <p>
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </p>
        </div>
    </div>
</main>