﻿@model TODOWebApp.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@section AddStyle {
    @Styles.Render("~/Content/login.css")
}

<main>
    <div class="login-container">
        <div class="centered-login-box">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "todo-form", role = "form" }))
            {
                <h4 class="register">Create a new account.</h4>
                
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false, "", new { @class = "login-val-summary" })
                <p>
                    @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, null, new { @class = "val-msg" })
                </p>
                <p>
                    @Html.PasswordFor(m => m.Password, new { @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, null, new { @class = "val-msg" })
                </p>
                <p>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirm password" })
                    @Html.ValidationMessageFor(m => m.Password, null, new { @class = "val-msg" })
                </p>
                <p>
                    <input type="submit" value="Register">
                </p>
            }
        </div>
    </div>
</main>


