﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title - TODO</title>
    @Styles.Render("https://fonts.googleapis.com/css?family=Pacifico&amp;subset=latin-ext")
    @Styles.Render("https://fonts.googleapis.com/icon?family=Material+Icons")
    @Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    @Styles.Render("~/Content/shared.css")
    @if (IsSectionDefined("AddStyle"))
    {
        @RenderSection("AddStyle", required: false)
    }
</head>
<body>
    @if (Request.IsAuthenticated)
    {
    <div class="center-content">
        <div class="header-container">
            <header class="site-header stylized">
                <h1>@Html.ActionLink("TODO", "Index", "Home")</h1>
                <nav>
                    @Html.Partial("_LoggedInPartial")
                </nav>
            </header>
        </div>
        <main class="stylized">
            <section class="main-box">
                @RenderBody()
            </section>
        </main>
    </div>
    }
    else
    {
        @RenderBody()
    }


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
    @Scripts.Render("~/Scripts/datetimepicker.js")
    @Scripts.Render("~/Scripts/onEditOrOnAddValidationDisplayFields.js")
</body>
</html>